* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
h1,
h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}
h5 {
  font-weight: bold;
  font-size: 30px;
  color: black;
}
p {
  font-size: 20px;
  color: black;
}
.logo {
  width: 10%;
  border-radius: 100%;
}
hr {
  border-width: 2px;
  border: 2px white solid;
}
ul {
  list-style: none;
  color: white;
}
.copy-right {
  font-size: 18px;
  color: white;
}
.navbar-toggler {
  margin-left: auto;
}
.card-img-top {
  height: 250px; /* Adjust as needed */
  object-fit: cover;
}
a {
  color: white;
  text-decoration: none;
}
